:global(#modals-root), .root{
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
    z-index: -1;
}

.root{
    &.show{
        z-index: 1;
        background-color: rgba(black, .2);
    }
}